@page
@model ChangePasswordModel
@{
}

<h1>Change Password</h1>

<form method="post">
    <div class="form-outline mb-4">
        <label class="form-label" asp-for="Password">Current Password:</label>
        <input type="password" id="currentPassword" class="form-control" asp-for="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

	<p id="passval" style="color:red;">Password does not meet requirements!</p>
	<p id="passval2" style="color:red; display:none;">Passwords do not match!</p>
    <div class="form-outline mb-4">
        <label class="form-label" asp-for="NewPassword">New Password:</label>
        <input type="password" id="newPassword" class="form-control" asp-for="NewPassword" />
        <span class="text-danger" asp-validation-for="NewPassword"></span>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" asp-for="ConfirmPassword">Repeat password:</label>
        <input type="password" id="newRepeatPassword" class="form-control" asp-for="ConfirmPassword" />
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <span class="text-danger">@Html.ValidationSummary(true)</span>
    <button type="submit" class="btn subBtn btn-primary w-100">Reset Password</button>
</form>

@section Scripts
{
	<script>
		let button = document.querySelector(".subBtn");
		button.disabled = true;

		$("#newPassword").on("input", function() {
		  var bool = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!$%^&*-]).{12,}$/.test($("#newPassword").val())
		  if(bool == true){
			  $("#passval").text("Password meets requirement!")
			  $("#passval").css("color", "green")
		  }else {
			  $("#passval").text("Password does not meet requirements!")
			  $("#passval").css("color", "red")
		  }
		});

		$("#newRepeatPassword").on("input", function() {
			if($("#newPassword").val() == $("#newRepeatPassword").val()){
				  $("#passval2").css("display", "none")
				  button.disabled = false;
			}else {
				$("#passval2").css("display", "")
				button.disabled = true;
			}
		});
	</script>
}