@page
@model FreshFarmMarket.Pages.LoginModel
@{
}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-12">
			<h1 class="mb-3">Login </h1>

			@{ if(@Model.message != null){
                            <p style="color:red;">@Model.message</p>
                }
            }
			

			<form method="post">
				
				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Email">Email Address</label>
					<input type="Text" asp-for="LModel.Email" class="form-control" />
					<span asp-validaton-for="LModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Password">Password</label>
					<input type="Text" asp-for="LModel.Password" class="form-control" />
					<span asp-validaton-for="LModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3 form-check">
					<input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
					<label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
				</div>

				<input id="input-token" type="hidden" asp-for="token" />
                <input id="input-broswer" type="hidden" asp-for="browser" />

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
                <div class="mb-3 form-group text-center">
                    <a href="/ForgetPassword">Forgot Password</a>
                </div>
			</form>
		</div>
	</div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=6LcW-lEkAAAAAMlqaps716ZwjsiBLdU0KyiwwJnB"></script>
<script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LcW-lEkAAAAAMlqaps716ZwjsiBLdU0KyiwwJnB', { action: 'submit' }).then(function (token) {
				$("#input-token").val(token);
                console.log(token);
            });
        });
		window.onload = function() {
		  checkBrowser()
		};

		 function checkBrowser() {
          
            let userAgentString = 
                navigator.userAgent;
          
            let chromeAgent = 
                userAgentString.indexOf("Chrome") > -1;

            let edgeAgent = 
                userAgentString.indexOf("Edg") > -1;
          
            let IExplorerAgent = 
                userAgentString.indexOf("MSIE") > -1 || 
                userAgentString.indexOf("rv:") > -1;
          
            let firefoxAgent = 
                userAgentString.indexOf("Firefox") > -1;
          
            let safariAgent = 
                userAgentString.indexOf("Safari") > -1;
                  
            if ((chromeAgent) && (safariAgent)) 
                safariAgent = false;

            if ((chromeAgent) && (edgeAgent)) 
                chromeAgent = false;
          
            let operaAgent = 
                userAgentString.indexOf("OP") > -1;
                      
            if ((chromeAgent) && (operaAgent)) 
                chromeAgent = false;

            if(safariAgent == true)
                $("#input-broswer").val("safari");
            if(chromeAgent == true)
                $("#input-broswer").val("chrome");
            if(IExplorerAgent == true)
                $("#input-broswer").val("IE");
            if(operaAgent == true)
                $("#input-broswer").val("opera");
            if(firefoxAgent == true)
                $("#input-broswer").val("firefox");
            if(edgeAgent == true)
                $("#input-broswer").val("edge");
          
            //console.log(safariAgent);
            //console.log(chromeAgent);
            //console.log(IExplorerAgent);
            //console.log(operaAgent);
            //console.log(firefoxAgent);
        };

		

</script>