@page
@model FreshFarmMarket.Pages.LoginOTPAuthModel
@{
}
<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-12">
			<h1 class="mb-3">Two Factor Authentication </h1>

			<form method="post">

				<div class="mb-3">
					<label class="form-label" asp-for="OTP">Enter your OTP:</label>
					<input type="number" asp-for="OTP" placeholder="Enter OTP that was sent to your email" class="form-control" maxlength="6" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required/>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Verify</button>
				</div>
			</form>
		</div>
	</div>
</div>