@page
@model FreshFarmMarket.Pages.LoginModel
@{
}

<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-12">
			<h1 class="mb-3">Login </h1>

			@{ if(@Model.message != null){
                    <p style="color:red;">@Model.message</p>
                }
            }
			

			<form method="post">
				
				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Email">Email Address</label>
					<input type="Text" asp-for="LModel.Email" class="form-control" />
					<span asp-validaton-for="LModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Password">Password</label>
					<input type="password" asp-for="LModel.Password" class="form-control" />
					<span asp-validaton-for="LModel.Password" class="text-danger"></span>
				</div>

				<div class="mb-3 form-check">
					<input type="checkbox" asp-for="LModel.RememberMe" class="form-check-input" />
					<label class="form-check-label" asp-for="LModel.RememberMe">Remember Me?</label>
				</div>

				<input id="input-token" type="hidden" asp-for="token" />

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=6LcW-lEkAAAAAMlqaps716ZwjsiBLdU0KyiwwJnB"></script>
<script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6LcW-lEkAAAAAMlqaps716ZwjsiBLdU0KyiwwJnB', { action: 'submit' }).then(function (token) {
				$("#input-token").val(token);
                console.log(token);
            });
        });

</script>